/* NEW CAMPGROUNDS FORM */
.newcamp h2 {
  text-align: center;
  padding-top: 20%;
}
.newcamp form {
  margin: 0 auto;
  width: 50%;
}
.newcamp a {
  display: block;
  text-align: center;
}
/* Campgrounds Page */
.campgrounds h1 {
  text-align: center;
  width: 100%;
}
.jumbotron {
  text-align: center;
}

/* LOGIN FORM */ /*SIGN UP*/
.auth-header {
  text-align: center;
}
.auth .form-group {
  width: 35%;
  margin: 10px auto;
}
.auth-body {
  padding-top: 20vh;
}
